name: Deploy App
on:
  release:
    types: [released]
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy to GH Pages
    runs-on: ubuntu-18.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Deploy
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
          HUSKY: 0
        run: npx ng deploy --repo=https://github.com/bniedermeyer/sr-angular-test.git
